<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ 'Login Page' | trans }}</title>
		<link rel="stylesheet" href="{{ asset('bundles/funcfunccommon/css/bootstrap.css') }}">
		<script src="{{ asset('bundles/funcfunccommon/js/jquery-2.0.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/funcfunccommon/js/bootstrap.min.js') }}"></script>
	</head>
	<body class="signin-form">
		<div class="container">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">{{ 'Log Into' | trans }}</div>
						<div class="panel-body">
						{% if error %}
						<div class="alert alert-danger">
							<a class="close" data-dismiss="alert" href="#">×</a>
							{{ 'Error' | trans }}: {{ error.message | trans }}
						</div>
						{% endif %}
						<form method="POST" action="{{ path('login_check') }}" accept-charset="UTF-8">
							<div class="form-group">
								<input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'Email' | trans }}" value="{{ last_username }}">
							</div>
							<div class="form-group">
								<input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'Password' | trans }}">
							</div>
							<div class="form-group">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox" id="remember_me" name="_remember_me" checked> Remember me
						        </label>
						      </div>
						    </div>
						    <div class="form-group">
								<div class="col-sm-offset-4 col-sm-4">
							      <button type="submit" name="submit" class="btn btn-primary">{{ 'Log in' | trans }}</button>
							    </div>
							</div>						
						</form>
					</div>	
				</div>
			</div>
		</div>
	</body>
</html>