{% extends 'FuncFuncCommonBundle:Grid:ajax.html.twig' %}

{% block grid_render_search_block %}
    {{ grid_search(grid, 'FuncFuncCommonBundle:Grid:ajax_no_form.html.twig') }}
{% endblock grid_render_search_block %}

{% block grid %}
<div class="grid">
    {{ grid_session_messages(grid) }}
    {{ grid_render_search_block(grid) }}
{% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
    <div id="{{ grid.hash }}">
        <div class="grid_header">
        {% if grid.massActions|length > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        </div>
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
        <div class="grid_body">
            <table class="table table-bordered table-striped">
                <thead>
                {% if grid.isTitleSectionVisible %}
                    {{ grid_titles(grid) }}
                {% endif %}

                {% if grid.isFilterSectionVisible %}
                    {{ grid_filters(grid) }}
                {% endif %}
                </thead>
                <tbody>
                {{ grid_rows(grid) }}
                </tbody>
            </table>
        </div>
        <div class="grid_footer">
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
        {% if grid.exports|length > 0 %}
            {{ grid_exports(grid) }}
        {% endif %}
        </div>
        {% if withjs %}
            {{ grid_scripts(grid) }}
        {% endif %}
    </div>
{% else %}
    {{ grid_no_data(grid) }}
{% endif %}
</div>
{% endblock grid %}

{% block grid_scripts_mark_visible %}
function {{ grid.hash }}_markVisible(select)
{
    var counter = $('#{{ grid.hash }} input[type=checkbox]').each(function(){this.checked = select}).filter(':checked').length;
    {% if grid.isFilterSectionVisible %}
    counter--;
    {% endif %}
    $('#{{ grid.hash }}_mass_action_selected').html(counter > 0 ? '{{ 'Selected _s_ rows'|trans }}'.replace('_s_', counter) : '');
    $('#{{ grid.hash }}_mass_action_all').val('0');
    return false;
}
{% endblock grid_scripts_mark_visible %}

{% block grid_scripts_mark_all %}
function {{ grid.hash }}_markAll(select)
{
    $('#{{ grid.hash }} input[type=checkbox]').each(function(){this.checked = select});
    $('#{{ grid.hash }}_mass_action_all').val(select ? '1' : '0');
    $('#{{ grid.hash }}_mass_action_selected').html(select ? '{{ 'Selected _s_ rows'|trans }}'.replace('_s_', '{{ grid.totalCount }}') : '');
    return false;
}
{% endblock grid_scripts_mark_all %}

{% block grid_actions %}
<div class="mass-actions clearfix">
    <div class="btn-group">
        {#<a href="#" onclick="return {{ grid.hash }}_markVisible(true);" class="btn"></a>#}
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            {{ 'Select row'|trans }} <span class="caret"></span>
        </a>
        <ul class="grid_massactions_helper dropdown-menu">
            <li><a href="#" onclick="return {{ grid.hash }}_markVisible(true);">{{ 'Select visible'|trans }}</a></li>
            <li><a href="#" onclick="return {{ grid.hash }}_markVisible(false);">{{ 'Deselect visible'|trans }}</a></li>
            <li><a href="#" onclick="return {{ grid.hash }}_markAll(true);">{{ 'Select all'|trans }}</a></li>
            <li><a href="#" onclick="return {{ grid.hash }}_markAll(false);">{{ 'Deselect all'|trans }}</a></li>
        </ul>
    </div>
    <span class="mass-actions-selected label" id="{{ grid.hash }}_mass_action_selected"></span>
    {% spaceless %}
    <div class="grid_massactions input-append pull-right">
        <label for="{{ grid.hash }}_select_mass_actions" style="float: left; display: inline; margin: 4px 2px 4px 0px;">{{ 'Action'|trans }}</label>
        <input type="hidden" id="{{ grid.hash }}_mass_action_all" name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION_ALL_KEYS_SELECTED') }}]" value="0"/>
        <select id="{{ grid.hash }}_select_mass_actions" class="span2" name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION') }}]" style="width: 200px; margin-right: 4px;">
            <option value="-1"></option>
            {% for key, value in grid.massActions %}
            <option value="{{ key }}">{{ value.title|trans }}</option>
            {% endfor %}
        </select>
        <input class="btn" type="submit" value="{{ 'Submit Action'|trans }}"/>
    </div>
    {% endspaceless %}
</div>
{% endblock grid_actions %}

{% block grid_scripts_mass_action %}
    $('#{{ grid.hash }} .mass-actions .grid_massactions input[type=submit]').click(function(event){
        event.preventDefault();
        {{ grid.hash }}_goto('{{ grid.routeUrl }}', $('#{{ grid.hash }}').find('input, select').serialize(), 'POST');
    });
{% endblock grid_scripts_mass_action %}

{% block grid_additional_scripts %}
    {{ parent() }}
    {{ grid_scripts_mass_action(grid) }}
{% endblock grid_additional_scripts%}


{% block grid_search %}
{% if grid.isFilterSectionVisible %}
    <div class="grid-search" {% if not grid.isFiltered %} style="display: none"{% endif %}>
        <div id="{{ grid.hash }}_search" class="form-horizontal">
            {% for column in grid.columns if column.visible(true) and column.isFilterable %}
                <div class="control-group">
                    {% set columnTitle = grid.prefixTitle ~ column.title %}
                    {% if column.filterable %}
                        <label for="{{ grid.hash }}__{{ column.id }}__query__from" class="control-label">{{ columnTitle|replace('_',' ')|capitalize|trans }}</label>
                        <div class="controls">{{ grid_filter(column, grid, false)|raw }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="grid-search-action form-actions">
                <input type="submit" class="btn btn-primary grid-search-submit" onclick="return {{ grid.hash }}_submitForm(event, $('#{{ grid.hash }}_search'));" value="{{ 'Search'|trans }}"/>
                <input type="button" class="btn grid-search-reset" value="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();"/>
            </div>
        </div>
    </div>
{% endif %}
{% endblock grid_search %}