{% extends 'APYDataGridBundle::blocks_js.jquery.html.twig' %}

{% use 'FuncFuncCommonBundle:Grid:overrided.html.twig' %}

{% block grid_render_search_block %}
    {{ grid_search(grid, 'FuncFuncCommonBundle:Grid:ajax.html.twig') }}
{% endblock grid_render_search_block %}

{% block grid_additional_scripts %}
    {{ parent() }}
    $('#{{ grid.hash }} a.grid-row-action.ajax-link').each(function(k, elem){
        $(elem).data('onClick', $(elem).attr('onClick')).removeAttr('onClick');
    }).click(function(e){
        e.preventDefault();
        if(func = $(this).data('onClick'))
        {
            func = eval('(function(){' + func + ';})');
            res = func();
            if(typeof res == 'boolean' && !res)
            {
                return;
            }
        }
        {{ grid.hash }}_goto($(this).attr('href'));
    });
{% endblock grid_additional_scripts%}

{% block grid_session_messages %}
    <div id="grid_flash_messages">
        {% set has_messages = false %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            {% set has_messages = true %}
            <div class="alert alert-success">
                {{ flashMessage|trans }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            {% set has_messages = true %}
            <div class="alert alert-error">
                {{ flashMessage|trans }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            {% set has_messages = true %}
            <div class="alert alert-warning">
                {{ flashMessage|trans }}
            </div>
        {% endfor %}
    </div>
{% endblock grid_session_messages %}

{% block grid %}
    {{ grid_session_messages(grid) }}
    {{ parent() }}
{% endblock grid %}
