{% extends 'APYDataGridBundle::blocks.html.twig' %}

{% use 'FuncFuncCommonBundle:Grid:overrided.html.twig' %}

{% block grid_render_search_block %}
    {{ grid_search(grid, 'FuncFuncCommonBundle:Grid:simple.html.twig') }}
{% endblock grid_render_search_block %}
