{% block form_widget_compound %}
{% spaceless %}
    {% if form.parent is empty %}
        {{ form_errors(form) }}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% else %}
        {% set attr = attr | merge({class: (attr.class | default('') ~ ' row') | trim}) %}
        <div{% if bootstrap_panel %} class="row"{% else %} {{ block('widget_container_attributes') }}{% endif %}>
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    {% if compound and bootstrap_panel %}
        {% set is_collection_item = (form.parent and 'collection' in form.parent.vars.block_prefixes) %}
        {% set is_collection = ('collection' in block_prefixes) %}
        {% if is_collection %}
            {% if prototype is defined %}
                {% set attr = attr | merge({'data-prototype': form_row(prototype, {is_prototype: true}) }) %}
            {% elseif prototypes is defined %}
                {% for key, prototype in prototypes %}
                    {% set attr = attr | merge({('data-prototype-' ~ key): form_row(prototype, {is_prototype: true}) }) %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if is_collection_item %}
            {% set attr = attr | merge({class: (attr.class | default('') ~ ' js-collection_item') | trim}) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if is_collection_item %}
                        <span class="badge pull-left">{{ is_prototype | default(false) ? 'New Item' | trans : form.vars.name + 1 }}</span>
                        {% if form.parent.vars.allow_delete %}
                            <button class="close js-{{ form.parent.vars.id }}-remove_item" type="button" title="{{ 'Delete'|trans }}">&times;</button>
                        {% endif %}
                        <div class="clearfix"></div>
                    {% else %}
                        <h3 class="panel-title">{{ (label ?: name | humanize) | trans }}</h3>
                        {% if is_collection and allow_add and show_add_button %}
                            <button type="button" class="btn btn-info btn-sm pull-right {{ add_button_class }}"><span class="glyphicon glyphicon-{{ add_button_icon }}"></span> {{ add_button_label | trans }}</button>
                            <div class="clearfix"></div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ block('text_hint') }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-sm-12">
            <div class="form-group form-group-validation">
                {{ form_label(form, {}, {label_grid_size: 12 - bootstrap_widget_grid_size}) }}
                {% set element_classes = (element_classes | default('') ~ ' col-sm-' ~ bootstrap_widget_grid_size) | trim %}
                {% if 'choice' in block_prefixes and not compound %}
                    {% if use_select2 %}
                        {% if not multiple %}
                            {% set element_classes = element_classes ~ ' validation-select2' %}
                        {% endif %}
                    {% else %}
                        {% set element_classes = element_classes ~ ' validation-select' %}
                    {% endif %}
                {% elseif (
                        'date' in block_prefixes or
                        'time' in block_prefixes or
                        'datetime' in block_prefixes or
                        'percent' in block_prefixes or
                        'color' in block_prefixes or
                        'money' in block_prefixes
                    )
                    and not compound %}
                    {% set element_classes = element_classes ~ ' validation-input-group' %}
                {% endif %}
                <div class="{{ element_classes }}">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ block('text_hint') }}
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="col-sm-12">
        <div class="btn-group pull-right">
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock button_row %}

{% block tabbed_form_widget %}
{% spaceless %}
    <ul class="nav nav-tabs">
        {% for child in form if child.vars.compound %}
            <li{% if loop.index0 == 0 %} class="active"{% endif %}>
                <a href="#{{ child.vars.id }}" data-toggle="tab">{{ (child.vars.label ?: child.vars.name | humanize) | trans }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for child in form if child.vars.compound %}
            <div class="tab-pane{% if loop.index0 == 0 %} active{% endif %}" id="{{ child.vars.id }}">
                {{ form_errors(child) }}
                {{ form_widget(child) }}
                {{ block('text_hint') }}
            </div>
        {% endfor %}
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock tabbed_form_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set attr = attr | merge({class: (attr.class | default('') ~ ' btn') | trim}) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {%- spaceless %}
        {% set collection_container_class = 'js-' ~ id ~ '-collection_container' %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype, {is_prototype: true}) }) %}
        {% elseif prototypes is defined %}
            {% for key, prototype in prototypes %}
                {% set attr = attr | merge({('data-prototype-' ~ key): form_row(prototype, {is_prototype: true}) }) %}
            {% endfor %}
        {% endif %}
        <div class="{{ collection_container_class }}">
            {{ block('form_widget') }}
            <div class="well js-collection_item-no_items"{% if(form | length > 0) %} style="display: none;"{% endif %}>{{ no_data_message | trans }}</div>
        </div>
        <script type="text/javascript">
            {% if allow_add -%}
                var {{ id }}_count = {{ next_child_index }};
            {% endif -%}
            $(document).ready(function(){
                {% if allow_add -%}
                    $('.{{ add_button_class }}').on('click', function(e){
                        e.preventDefault();
                        $collection = $('#{{ id }}');
                        $('.nav-tabs a[href="#' + $collection.closest('div.tab-pane').attr('id') + '"]').tab('show');
                        var prototype = '';
                        if((selector = $collection.data('type-selector')))
                        {
                            $selector = $(selector);
                            form_type = $selector.val();
                            if(!form_type)
                            {
                                form_type = $selector.select2('val');
                            }
                            prototype = $collection.data('prototype-' + form_type);
                        }
                        else
                        {
                            prototype = $collection.data('prototype');
                        }
                        var newForm = prototype.replace(/{{ prototype_name }}/g, {{ id }}_count++);
                        $('.{{ collection_container_class }}>.js-collection_item-no_items').hide();
                        $('.{{ collection_container_class }}>.row').prepend(newForm);
                    });
                {% endif -%}
                {%- if allow_delete -%}
                    $('#{{ id }}').on('click', 'button.close.js-{{ id }}-remove_item', function(event){
                        event.preventDefault();
                        $(this).closest('div.js-collection_item').fadeOut('fast', function(){
                            $(this).remove();
                            if($('.{{ collection_container_class }}>.row>.js-collection_item').length == 0)
                            {
                                $('.{{ collection_container_class }}>.js-collection_item-no_items').show();
                            }
                        });
                    });
                {% endif -%}
            });
        </script>
    {% endspaceless -%}
{% endblock collection_widget %}

{% block radio_widget %}
    {% if expanded_list | default(false) %}
        <div class="radio">
            <label>
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{- label | trans -}}
            </label>
        </div>
    {% else %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endif %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} style="height: auto;">
    {% for child in form %}
        {{ form_widget(child, {'expanded_list': true}) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% set size = choices|length %}
    {% if not (no_form_group | default(false)) %}
        {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-control')|trim}) %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" size="{{ (size>0) ? size : 1 }}"{% endif %}>
        {% if use_select2 and not multiple and empty_placeholder and empty_value %}
            <option value="placeholder"></option>
        {% endif %}
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
    {% if form.vars.view_url | default(false) %}
        <a target="_blank" href="{{ form.vars.view_url }}" class="btn" title="{{ 'Open link'|trans }}"><span class="glyphicon glyphicon-share"></span></a>
    {% endif %}
    {% if form.vars.use_select2 %}
        <script type="text/javascript">
            {% set select2attr = { placeholder: empty_placeholder | trans({}, translation_domain) } %}
            {% if not multiple and empty_placeholder and empty_value %}
                {% set select2attr = select2attr | merge({placeholderOption: placeholder_option}) %}
            {% endif %}
            {% if not multiple and minimum_results_for_search %}
                {% set select2attr = select2attr | merge({minimumResultsForSearch: minimum_results_for_search}) %}
            {% endif %}
            {% if extra_attributes %}
                {% set select2attr = select2attr | merge(extra_attributes) %}
            {% endif %}
            jQuery('#{{ id }}').select2({{ select2attr | zend_json_encode | raw }}){% if read_only %}.select2("readonly", true){% endif %};
        </script>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block form_widget_simple_input %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-control')|trim}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple_input %}

{% block form_widget_simple %}
    {%- spaceless %}
        {% set type = type|default('text') %}
        {{ block('form_widget_simple_input') }}
    {% endspaceless -%}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
    {% if form.vars.show_as_html %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple_input') }}
        <span class="uneditable-input uneditable-textarea">{{ value | raw }}</span>
    {% else %}
        {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-control')|trim}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endif %}
{% endspaceless %}
{% endblock textarea_widget %}

{% block file_widget %}
{% spaceless %}
    {% if file_type in [constant('FuncFunc\\CommonBundle\\Form\\Extension\\FileTypeExtension::FILE_TYPE_DOWNLOADABLE'), constant('FuncFunc\\CommonBundle\\Form\\Extension\\FileTypeExtension::FILE_TYPE_IMAGE')] and
        parent_object and attribute(parent_object, file_name_property) and vich_mapping %}
        {% if file_type == constant('FuncFunc\\CommonBundle\\Form\\Extension\\FileTypeExtension::FILE_TYPE_DOWNLOADABLE') %}
            <a href="{{ asset(vich_uploader_asset(parent_object, vich_mapping)) }}" target="_blank">{{ 'Download' | trans }}</a>
        {% elseif file_type == constant('FuncFunc\\CommonBundle\\Form\\Extension\\FileTypeExtension::FILE_TYPE_IMAGE') %}
            {% set source_image_url = vich_uploader_asset(parent_object, vich_mapping) %}
            <a href="{{ asset(source_image_url) }}" target="_blank" title="{{ 'Click to view' | trans }}">
                {% if image_filter %}
                    <img src="{{ source_image_url | apply_filter(image_filter) }}">
                {% else %}
                    <img src="{{ asset(source_image_url) }}">
                {% endif %}
            </a>
        {% endif %}
    {% endif %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock file_widget %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ 'Error' | trans }}: </strong>
            {{-
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            -}}
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block checkbox_widget %}
{% spaceless %}
    {% if expanded_list | default(false) %}
        <div class="checkbox">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label }}
            </label>
        </div>
    {% else %}
        <label class="checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </label>
    {% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% set label_grid_size = label_grid_size | default(2) %}
        {% set label_attr = label_attr | merge({
            'class': (label_attr.class | default('') ~ ' col-sm-' ~ label_grid_size ~ ' control-label') | trim
        }) %}
        {% if required %}
            {% set label_attr = label_attr | merge({'class': label_attr.class ~ ' required'}) %}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr | merge({'for': id}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name | humanize %}
        {% endif %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label | trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block email_widget %}
{% spaceless %}
    {% set type = type|default('email') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock email_widget %}

{% block date_widget %}
    {%- spaceless %}
        {% if not (no_form_group | default(false)) %}
            {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-control')|trim}) %}
        {% endif %}
        {% if widget == 'single_text' %}
            {% set type = type|default('text') %}
            {% set attr = attr | merge({'data-readonly': read_only}) %}
            <div class="input-group date js-datepicker" data-date="{{ value }}" data-date-format="{{ template_pattern }}" data-date-pickTime="false">
                <input {{ block('widget_attributes') }} readonly="readonly" type="text" size="16"{% if value is not empty %} value="{{ value }}"{% endif %}>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <script type="text/javascript">
                $('#{{ id }}').parent('.js-datepicker:has(input:not([data-readonly]):not(:disabled))').datetimepicker({language: '{{ locale }}'});
            </script>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {no_form_group: true}),
                '{{ month }}': form_widget(form.month, {no_form_group: true}),
                '{{ day }}':   form_widget(form.day, {no_form_group: true}),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless -%}
{% endblock date_widget %}

{% block time_widget %}
    {%- spaceless %}
        {% if not (no_form_group | default(false)) %}
            {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-control')|trim}) %}
        {% endif %}
        {% if widget == 'single_text' %}
            {% set type = type|default('text') %}
            {% set attr = attr | merge({'data-readonly': read_only}) %}
            <div class="input-group date js-timepicker" data-date="{{ value }}" data-date-format="{{ template_pattern }}" data-date-pickDate="false" data-date-minuteStepping="{{ minute_step }}" data-date-useMinutes="{{ with_minutes is sameas(false) ? 'false' : 'true' }}" data-date-useSeconds="{{ with_seconds is sameas(false) ? 'false' : 'true' }}">
                <input {{ block('widget_attributes') }} type="text" size="16"{% if value is not empty %} value="{{ value }}"{% endif %}>
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
            <script type="text/javascript">
                $('#{{ id }}').parent('.js-timepicker:has(input:not([data-readonly]):not(:disabled))').datetimepicker({language: '{{ locale }}'});
            </script>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_widget(form.hour, { 'attr': { 'size': '1' }, no_form_group: true }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' }, no_form_group: true }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' }, no_form_group: true }) }}{% endif %}
            </div>
        {% endif %}
    {% endspaceless -%}
{% endblock time_widget %}

{% block integer_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock integer_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default("number") %}
    <div class="input-group">
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">%</span>
    </div>
{% endspaceless%}
{% endblock %}

{% block number_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {% set attr = attr | merge({step: attr.step | default('any')}) %}
    {{ block('integer_widget') }}
{% endspaceless %}
{% endblock number_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% set attr = attr | merge({
        class: (attr.class | default('') ~ ' form-control')|trim
    }) %}
    {% if widget == 'single_text' %}
        {% set type = type|default('text') %}
        {% set attr = attr | merge({'data-readonly': read_only}) %}
        <div class="input-group date js-datepicker" data-date="{{ value }}" data-date-format="{{ template_pattern }}" data-date-minuteStepping="{{ minute_step }}" data-date-useMinutes="{{ with_minutes is sameas(false) ? 'false' : 'true' }}" data-date-useSeconds="{{ with_seconds is sameas(false) ? 'false' : 'true' }}">
            <input {{ block('widget_attributes') }} readonly="readonly" type="text" size="16"{% if value is not empty %} value="{{ value }}"{% endif %}>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <script type="text/javascript">
            $('#{{ id }}').parent('.js-datepicker:has(input:not([data-readonly]):not(:disabled))').datetimepicker({language: '{{ locale }}'});
        </script>
    {% else %}
        {% set attr = attr | merge({
            style: (attr.style | default('') ~ ' height: auto;') | trim
        }) %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date, {no_form_group: true}) }} &nbsp;
            {{ form_widget(form.time, {no_form_group: true}) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block money_widget %}
    {%- spaceless %}
        {% set currency_str = money_pattern | replace({'{{ widget }}':''}) %}
        <div class="input-group">
            {{ money_pattern | replace({
                (currency_str): '<span class="input-group-addon">' ~ currency_str ~ '</span>',
                '{{ widget }}': block('form_widget_simple_input')
            }) | raw }}
        </div>
    {% endspaceless -%}
{% endblock money_widget %}

{% block color_widget %}
    {%- spaceless %}
        <div class="input-group js-colorpicker" data-color="{{ value }}" data-format="hex">
            {{ block('form_widget_simple_input') }}
            <span class="input-group-addon"><i></i></span>
        </div>
        <script type="text/javascript">
            $('#{{ id }}').parent('.js-colorpicker:has(input:not([readonly]):not(:disabled))').colorpicker();
        </script>
    {% endspaceless -%}
{% endblock color_widget %}

{% block hidden_row %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple_input') }}
{% endspaceless %}
{% endblock hidden_row %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr | merge({'class': (attr.class | default('') ~ ' form-horizontal') | trim}) %}
    <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block tags_widget %}
    {%- spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple') }}
        <script type="text/javascript">
            jQuery('#{{ id }}').select2({
                minimumInputLength: {{ minimum_input_length }},
                placeholder: "{{ empty_placeholder | trans({}, translation_domain) | e('js') }}",
                tags: [],
                initSelection : function (element, callback) {
                    var data = [];
                    $(element.val().split(",")).each(function () {
                        data.push({id: this, text: this.split('&#44;').join(',')});
                    });
                    callback(data);
                },
{% if allow_new_tags %}
                createSearchChoice:function(term, data) {
                    if($(data).filter(function(){return this.text.localeCompare(term)===0;}).length===0) {
                        return {id:term, text:term};
                    }
                },
{% endif %}
{% if tag_search_router %}
                ajax: {
                    url: "{{ path(tag_search_router, tag_search_router_params) }}",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term){
                        return {
                            {{ tag_search_param }}: term
                        };
                    },
                    results: function(data) {
                        var results = [];
                        $.each(data, function(index, item){
                            results.push({
                                id: item.split(',').join('&#44;'),
                                text: item
                            });
                        });
                        return {
                            results: results
                        };
                    }
                }
{% elseif existing_tag_list %}
                data: {
                    results: {{ existing_tag_list | json_encode | raw}}
                }
{% endif %}
            })
        </script>
    {% endspaceless -%}
{% endblock %}

{% block ajax_choice_widget %}
    {%- spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple') }}
        {% if view_url %}
            <a target="_blank" href="{{ view_url }}" class="btn" title="{{ 'Open link'|trans }}"><span class="icon-share"></span></a>
        {% endif %}
        <script type="text/javascript">
            jQuery('#{{ id }}').select2({
                minimumInputLength: 3,
                placeholder: "{{ empty_placeholder | trans({}, translation_domain) | e('js') }}",
                ajax: {
                    url: "{{ path(search_route_name) }}",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term){
                        return {
                            {{ search_param_name }}: term
                        };
                    },
                    results: function(data) {
                        return {
                            results: data
                        };
                    }
                },
                formatResult: function(object, container, query){
                    var markup=[];
                    Select2.util.markMatch(object.text, query.term, markup, function(a){return a;});
                    return '<span style="display:block;">' + (object.id ? markup.join("") : object.text) + '</span><span style="display:block; font-size:10px;">' + object.type + '</span>';
                }{% if value %},
                initSelection: function(element, callback){
                    callback({id: {{ value }}, text: '{{ form.vars.property_value | e('js') }}'});
                }{% endif %}
            })
         </script>
     {% endspaceless -%}
{% endblock %}

{% block text_hint %}
{% spaceless %}
    {% if text_hint %}
        <span class="help-block">
            {% set hint = text_hint.text | trans(text_hint.params) %}
            {% if text_hint.text_hint_escaped %}
                {{ hint }}
            {% else %}
                {{ hint | raw }}
            {% endif %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock text_hint %}

{% block tree_entity_widget %}
    {%- spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple_input') }}
        {% if view_url %}
            <a target="_blank" href="{{ view_url }}" class="btn" title="{{ 'Open link'|trans }}"><span class="icon-share"></span></a>
        {% endif %}
        <script type="text/javascript">
            jQuery('#{{ id }}').select2({
                data: {{ tree_data | json_encode | raw }},
                placeholder: "{{ empty_placeholder | trans({}, translation_domain) | e('js') }}"{% if selected_dictionary | default(false) %},
                formatSelection: function(item){
                    labels = {{ selected_dictionary | json_encode | raw }};
                    return labels[item.id];
                }{% endif %}{% if not multiple and minimum_results_for_search %},
                minimumResultsForSearch: {{ minimum_results_for_search }}{% endif %}{% if extra_attributes %},
                {{ extra_attributes | zend_json_encode }}{% endif %}
            }){% if read_only %}.select2("readonly", true){% endif %};
        </script>
    {% endspaceless -%}
{% endblock tree_entity_widget %}

{% block include_twig_widget %}
    {% include twig_template %}
{% endblock include_twig_widget %}
