    /**
{% block phpdoc_method_header %}
     * Edits an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        $entity = $em->getRepository('{{ bundle }}:{{ entity }}')->find($id);

        if(!$entity)
        {
            throw $this->createNotFoundException('Unable to find {{ entity }} entity.');
        }

        $editForm = $this->createForm(
            new {{ entity_class }}Type(),
            $entity,
            [
                'action' => $this->generateUrl('{{ route_name_prefix }}_edit', ['id' => $entity->getId()]),
                'method' => 'POST',
            ]
        );

        $editForm->handleRequest($request);

        if($editForm->isValid())
        {
            $em->persist($entity);
            $em->flush();

            $this->get('session')->getFlashBag()->add('success', '{{ entity_class }} updated.');

            return $this->redirect($this->generateUrl('{{ route_name_prefix }}_edit', ['id' => $id]));
        }
        elseif($editForm->isSubmitted())
        {
            $this->get('session')->getFlashBag()->add('error', 'Error while submitting form, see details below');
        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return [
            'entity' => $entity,
            'edit_form' => $editForm->createView(),
        ];
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:edit.html.twig', [
            'entity' => $entity,
            'edit_form' => $editForm->createView(),
        ]);
{% endif %}
{% endblock method_return %}
    }

