    /**
{% block phpdoc_method_header %}
     * Creates a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity_class }}();
        $form = $this->createForm(
            new {{ entity_class }}Type(),
            $entity,
            [
                'action' => $this->generateUrl('{{ route_name_prefix }}_new'),
                'method' => 'POST',
            ]
        );
        $form->handleRequest($request);

        if($form->isValid())
        {
            $em = $this->getDoctrine()->getManager();
            $em->persist($entity);
            $em->flush();

            $this->get('session')->getFlashBag()->add('success', '{{ entity_class }} created.');

            return $this->redirect($this->generateUrl('{{ route_name_prefix }}_edit', ['id' => $entity->getId()]));
        }
        elseif($form->isSubmitted())
        {
            $this->get('session')->getFlashBag()->add('error', 'Error while submitting form, see details below');
        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return [
            'entity' => $entity,
            'form' => $form->createView(),
        ];
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:new.html.twig', [
            'entity' => $entity,
            'form' => $form->createView(),
        ]);
{% endif %}
{% endblock method_return %}
    }

