{% block extends %}
{{ "{% extends '" ~ bundle ~ ":Admin:layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
{{ '{{ form_start(edit_form) }}' }}
    <div class="head-content">
{% set hide_edit, hide_delete = false, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
        <div class="page-header">
            <h3>{{ "{{ '"~ entity ~" edit'|trans }}" }}</h3>
        </div>
    </div>

{{ '{{ form_widget(edit_form) }}' }}
{{ '{{ form_end(edit_form) }}' }}
{{ "{% endblock %}" }}
{% endblock body %}
