{% block extends %}
{{ "{% extends '" ~ bundle ~ ":Admin:layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
<div class="head-content">
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="#" onclick="return {{ "{{ grid.hash }}" }}_show_filter()"><span class="glyphicon glyphicon-search"></span> {{ "{{ 'Search'|trans }}" }}</a>
{% if 'new' in actions %}
        <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}"><span class="glyphicon glyphicon-plus"></span> {{ "{{ 'Create a new entry'|trans }}" }}</a>
{% endif %}
    </div>
    <div class="page-header">
        <h3>{{ "{{'"~ entity ~" list'|trans }}" }}</h3>
    </div>
</div>
{{ "{{ grid(grid, 'FuncFuncCommonBundle:Grid:simple.html.twig') }}" }}
{{ "{% endblock %}" }}
{% endblock body %}
